---
import type { CollectionEntry } from "astro:content";
import ProLi from "./VTuberProfileLine.astro";
import { getInfoByMid } from "../lib/InfoUtils";

function getPlatform(url: string) {
  if (url.includes("youtube.com")) {
    return "Youtube";
  } else if (url.includes("twitch.tv")) {
    return "Twitch";
  } else if (url.includes("twitter.com")) {
    return "Twitter";
  } else if (url.includes("x.com")) {
    return "X";
  } else if (url.includes("bilibili.com")) {
    return "Bilibili";
  } else {
    return "Unknown";
  }
}

type type = {
  bInfo: BInfo | undefined;
  profile: NonNullable<CollectionEntry<"v">["data"]["profile"]>;
};
const { bInfo, profile } = Astro.props as type;

if (bInfo?.mid) {
  const Media = `https://space.bilibili.com/${bInfo.mid}`;
  if (profile.Medias) profile.Medias.includes(Media) || profile.Medias.push(Media);
  else profile.Medias = [Media];
}
if (bInfo?.roomid) {
  const liveRoom = `https://live.bilibili.com/${bInfo.roomid}`;
  if (profile.LiveRooms)
    profile.LiveRooms.includes(liveRoom) || profile.LiveRooms.push(liveRoom);
  else profile.LiveRooms = [liveRoom];
}
---

<div class="profile">
  <img src={profile.Avatar?.toString()} alt="" class="avatar-image" />

  <div class="info">
    <ProLi item="名字"> {profile.OriginalName ?? bInfo?.uname} </ProLi>
    <ProLi item="外号"> {profile.Nickname?.join(", ")} </ProLi>
    <ProLi item="物种"> {profile.Species} </ProLi>
    <ProLi item="生日"> {profile.Birthday?.toDateString()} </ProLi>
    <ProLi item="年龄"> {profile.Age?.toString()} </ProLi>
    <ProLi item="外貌年龄">{profile.AppearanceAge?.toString()} </ProLi>
    <ProLi item="性别"> {profile.Gender} </ProLi>
    <ProLi item="身高"> {profile.Height} </ProLi>
    <ProLi item="体重"> {profile.Weight} </ProLi>
    <ProLi item="血型"> {profile.BloodType} </ProLi>
    <ProLi item="MIT">{profile.MITB} </ProLi>
    <ProLi item="家乡"> {profile.Hometown} </ProLi>
    <ProLi item="公司"> {profile.Company} </ProLi>
    <ProLi item="爱好"> {profile.Hobbies} </ProLi>
    <ProLi item="标签"> {profile.Tags?.join(", ")} </ProLi>
    <ProLi item="出道">
      {profile.DebutDate?.map((d) => `${d.Platform}: ${d.Date}`)}
    </ProLi>
    <ProLi item="毕业">
      {
        profile.Retirement && (
          <a href={profile.Retirement?.URL}>{profile.Retirement?.Date?.toDateString()}</a>
        )
      }
    </ProLi>
    <ProLi item="媒体">
      {profile.Medias.map((m) => <a href={m}>{getPlatform(m)}</a>)}
    </ProLi>
    <ProLi item="直播">
      {profile.LiveRooms?.map((m) => <a href={m}>{getPlatform(m)}</a>)}
    </ProLi>
    {
      bInfo && (
        <ProLi item="Bilibili">
          <span>提醒: 非最新数据</span>
          <a href={`https://space.bilibili.com/${bInfo.mid}`}>{bInfo.uname}的空间</a>
          <ProLi item="个性签名">{bInfo.sign}</ProLi>
          <ProLi item="粉丝数">{bInfo.follower}</ProLi>
          <ProLi item="视频数">{bInfo.video}</ProLi>
          <ProLi item="直播间号">
            <a href="https://live.bilibili.com/{bInfo.roomid}" /> {bInfo.roomid}
          </ProLi>
          <ProLi item="舰长数">{bInfo.guardNum}</ProLi>
          <ProLi item="直播公告">{bInfo.notice}</ProLi>
          <ProLi item="累计直播时长">{bInfo.averageLive}</ProLi>
          <ProLi item="最后一次直播时间">{bInfo.lastLive.time}</ProLi>
          <ProLi item="最后一次直播在线人数">{bInfo.lastLive.online}</ProLi>
        </ProLi>
      )
    }
    <ProLi item="外链">
      {profile.ExternalLinks?.map((e) => <a href={e.URL}>{e.Remark}</a>)}
    </ProLi>
    <ProLi item="高光时刻">
      {profile.Highlights?.map((h) => <a href={h.URL}>{h.Remark}</a>)}
    </ProLi>
    {profile.More?.map((m) => <ProLi item={m.item}>{m.value}</ProLi>)}
  </div>
</div>

<style>
  .profile {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
  }
  @media screen and (max-width: 480px) {
    .profile {
      flex-direction: column;
    }
    img {
      width: 80%;
      height: 80%;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  img {
    min-width: 200px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  ProLi {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
</style>
